*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.bg-color-head{
    background-color: rgb(23, 42, 51);
    color: white;
}

.pd-contain{
    padding: 20px;
}

.col-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-contact{
    display: flex;
    gap: 10px;
    font-size: 12px;
}


/* ------ css per il main ( prima section ) ------ */




.section{
    background-color: rgb(9, 188, 159);
    color: white;
}

.size-img{
    max-width: 200px;
}

.line-content-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.lateral-bar{
    width: 125px;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}



/* ------ css per il main ( seconda section ) ------ */



.portfolio-bar{
    background-color: black;
}

.portfolio-space{
    padding: 10px 0;
}

.img-space{
    margin-bottom: 20px;
}

.portfolio-img-display{
    display: flex;
    justify-content: center;
}

.portfolio-img{
    max-width: 100%;
    border-radius: 10px;
}

.portfolio-img:hover{
    z-index: 999;
}




/* ------ css per il main ( terza section ) ------ */




.button-about{
    padding: 5px 15px;
    border: solid 2px;
    border-radius: 5px;
}



/* ------ css per il main ( quarta section ) ------ */




.space-contact-text{
    padding-bottom: 100px;
}

.button-contact{
    background-color: #06bc9f;
}



/* ------ css per il main ( quinta section ) ------ */



.section-5{
    background-color: #123748;
    color: white;
}

.pre-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-pre-footer{
    display: flex;
    gap: 10px;
}



/* ------ css per il main ( FOOTER section ) ------ */




.footer-text{
    display: flex;
    justify-content: center;
    font-size: 8px;
}



/*-----------MEDIA QUERY----------*/



@media screen and (max-width: 575px) { 
    .xs-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-img-display{
        width: 100%;
    }

    .portfolio-img{
        max-width: 100%;
    }

    .text-restricted{
        padding: 0px 100px;
        text-align: center;
    }

    .contact-restricted{
        padding: 0 40px;
    }

    .section-us-informazioni{
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    .dimensioni-informazioni{
        width: 80%;
    }

}

@media screen and (max-width: 780px){
    .md-col{
        width: 50%;
    }
}